<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Url Shortner</title>
</head>
<style>
  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}
.container h1 {
  color:#1b052f;
  font-size: 45px;
  text-align: center;
}
.container {
  width:75%;
  height: auto;
  min-height:420px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 11px 4px rgba(36, 20, 59, 0.25);
  margin: auto;
}
table a, td {
  color: #fff;
}
label {
  display: block;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-top: 35px;
  color: #1b052f;
  font-size: 22px;
}
</style>

<body>
  <div class="d-flex flex-column justify-content-center w-100 h-100">
    <div class="container">
      <h1>URL Shortener</h1>
      <form action="/shortUrls" method="POST" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only">Url</label>
        <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
        <button class="btn btn-success" type="submit">Shorten</button>
      </form>

      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Full URL</th>
            <th>Short URL</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% shortUrls.forEach(shortUrl=> { %>
            <tr>
              <td><a href="<%= shortUrl.full %>">
                  <%= shortUrl.full %>
                </a></td>
              <td><a href="<%= shortUrl.short %>">
                  <%= shortUrl.short %>
                </a></td>
              <td>
                <%= shortUrl.clicks %>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>